.button {
  color: var(--text-color);
  padding: 0.7rem 1.6rem;
  border-radius: 0.6rem;
  font-size: 1rem;
  font-weight: bold;
  background-color: var(--primary-color);

  &:hover {
    background-color: #4e516b;
    transition: background-color 0.1s ease;
  }
}

button.disabled {
  background-color: #a7a8b1;
  &:hover {
    background-color: #a7a8b1;
  }
}
